<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (loading()) {
    <div class="state">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  }

  @if (error()) {
    <ion-text color="danger">
      <p class="state">{{ error() }}</p>
    </ion-text>
  }

  <ion-grid>
    <ion-row>
      @for (category of categories(); track category.id) {
        <ion-col [size]="6">
          <a class="category-link" [routerLink]="['/tabs/category', category.id]">
            <div
              class="banner"
              [style.backgroundImage]="'url(' + coverFor(category.id) + ')'">
              <span>{{ category.name }}</span>
            </div>
          </a>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
