<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
       <gm-main-graffiti 
       [graffiti]="getMainGraffiti()"></gm-main-graffiti>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <gm-monthly-graffitis 
          [graffitiList]="getMonthlyList()"></gm-monthly-graffitis>
        </ion-col>
        
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>tipes</ion-col>
        <ion-col>2</ion-col>
        <ion-col>3</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>