<div>
  <ion-grid>
    <ion-row *ngFor="let categoryRow of listProcessed">
      <ion-col size="6" size-md="6" size-lg="6" *ngFor="let category of categoryRow">
        <ion-card>
          <div class="category-canvas">
            <div class="category-img">
              <img [src]="category?.image"
              [alt]="category?.description"
              [title]=" category?.name">
            </div>
            <div class="category-header">
              <h3>{{ category?.name | uppercase }}</h3>
            </div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>